$font-family:'ABeeZee', sans-serif;

$nav-background-color: #8fc4be;
$nav-text-color: #f5f5f5;

$body-background-color: #f5f1e6;
$box-background-color: #ffffff;
$border-color: #e3decd;

$footer-background-color: #83b759;

$input-height: 40px;
$input-radius: 4px;
$input-padding: 20px 10px;
