<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <title>Examen 1</title>
</head>
<body>
  <header>
    <nav>
      <div class="navbar-header">
        <div class="logo">
          Jade
        </div>
        <div class="sublogo">
          HTML preprocessor
        </div>
      </div>
      <div>
        <ul class="menu">
          <li class="nav-item">
            <a href="#">Index</a>
          </li>
          <li class="nav-item">
            <a href="3">About</a>
          </li>
          <li class="nav-item">
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <section>
    <div class="container">
      <div class="box">
        <h1>Hipster Ipsum</h1>

        <p>
          Truffaut flexitarian readymade, pickled plaid 3 wolf moon Neutra polaroid selvage. Ennui sustainable squid
          synth, hashtag Banksy pork belly authentic Williamsburg church-key banh mi Truffaut. Mixtape tousled cray,
          artparty gentrify letterpress paleo Cosby sweater. Master cleanse freegan Tonx, literally brunch chia VHS
          direct trade Blue Bottle Echo Park synth kale chips flexitarian iPhone. Pork belly master cleanse Truffaut, put
          a bird on it slow-carb farm-to-table photo booth drinking vinegar 8-bit Brooklyn. Butcher letterpress YOLO
          roof party wayfarers. Asymmetrical lo-fi XOXO, mixtape small batch salvia High Life hoodie.
        </p>

        <p>
          Four loko hashtag jean shorts butcher farm-to-table plaid. American Apparel Neutra Pitchfork, Banksy pork
          belly kitsch farm-to-table Bushwick. Gluten-free irony mustache drinking vinegar butcher. Sartorial 90's
          cardigan try-hard, Williamsburg mumblecore drinking vinegar scenester. Tonx post-ironic leggings stumptown
          DIY, hashtag shabby chic Blue Bottle. Whatever Truffaut mustache banjo. Kitsch small batch umami deep v
          gentrify single-origin coffee.
        </p>

        <p>
          Street art salvia next level, direct trade Wes Anderson fap drinking vinegar post-ironic. YOLO raw denim
          pickled fingerstache keffiyeh, Carles ennui Vice ethnic VHS tofu. Kale chips gentrify stumptown tousled,
          hashtag organic umami asymmetrical semiotics beard. Sriracha Bushwick jean shorts, Thundercats small
          batch next level gluten-free. Letterpress cornhole mustache bicycle rights, photo booth Williamsburg vinyl
          food truck roof party fap before they sold out. Fixie Brooklyn Pinterest, umami dreamcatcher pug actually
          artisan Neutra disrupt. Art party flexitarian kogi single-origin coffee, DIY pug normcore dreamcatcher salvia
          Thundercats.
        </p>

        <p>
          Lomo biodiesel street art dreamcatcher, raw denim ethnic farm-to-table small batch tofu Tonx pop-up. 90's
          stumptown cray raw denim. Pinterest drinking vinegar Austin synth, tofu four loko forage selvage mustache
          raw denim. Odd Future food truck mixtape, four loko sriracha pug stumptown Neutra kogi Thundercats Etsy
          disrupt wayfarers dreamcatcher chillwave. +1 fixie Tonx selfies umami. Typewriter jean shorts hella Vice,
          McSweeney's narwhal food truck pickled. Tousled try-hard flexitarian, mustache vegan hoodie vinyl hashtag
          ugh sriracha church-key.
        </p>
      </div>
    </div>
  </section>

  <footer>
    <div class="navbar-footer">
      <div  class="cr">
        2014 copyright</p>
      </div>
      <div>
        <ul class="menu">
          <li class="nav-item">
            <a href="/">Index</a>
          </li>
          <li class="nav-item">
            <a href="/">About</a>
          </li>
          <li class="nav-item">
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
