body, html {
  position: relative;
  margin: 0;
  font-family: $font-family;
  background-color: $body-background-color;
}

.container {
  max-width: 55.688em;
  height: 45.188em;
  margin: 0 auto;
  margin-top: 3.625em;

  .box {
    padding: 0px 27px 1.5em;
    background-color: $box-background-color;
    @include border(dashed);

    h1 {
      font-size: 2em;
      margin-top: 1.2em;
      text-align: center;
      color: $nav-background-color;
    }

    p {
      margin-bottom: 1.5em;
    }

    textarea {
      width: 100%;
      box-sizing: border-box;
      border-radius: $input-radius;
      display: inline-block;
      outline: 0;
      margin-bottom: 2em;
    }

    button {
      position: relative;
      background-color: $footer-background-color;
      font-size: 1em;
      float: right;
      padding: 5px 36px;

      a{
        text-decoration: none;
        color: $box-background-color;
      }
    }

    .label {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .email,
    .phone,
    .note {
      height: $input-height;
      padding: $input-padding;
      box-sizing: border-box;
      border-radius: $input-radius;
      display: inline-block;
      outline: 0;
      width: 48%;
    }

    .firstRow {
      max-width: 100%;


      .name, .lastName{
        height: $input-height;
        padding: $input-padding;
        box-sizing: border-box;
        border-radius: $input-radius;
        display: inline-block;
        outline: 0;
        width: 48%;
      }
    }
  }
}
