textarea {
  width: 100%;
  appearance: none;
  box-sizing: border-box;
  border-radius: $input-radius;
  display: inline-block;
  outline: 0;
  margin-bottom: 1em;
}

button {
  background-color: $footer-background-color;
  font-size: 1em;
  float: right;
  padding: 10px 36px;

  a{
    text-decoration: none;
    color: $box-background-color;
  }
}

.label {
  margin-top: 1em;
  margin-bottom: 1em;
}

.email,
.phone,
.note {
  height: $input-height;
  padding: $input-padding;
  box-sizing: border-box;
  border-radius: $input-radius;
  display: inline-block;
  outline: 0;
  width: 48%;
}

.firstRow {
  max-width: 100%;


  .name, .lastName{
    height: $input-height;
    padding: $input-padding;
    box-sizing: border-box;
    border-radius: $input-radius;
    display: inline-block;
    outline: 0;
    width: 48%;
  }
}
