nav {
  width: 100%;
  background-color: $nav-background-color;
  height: 114px;
  color: $nav-text-color;
  display: inline-table;

  .navbar-header {
    float: left;
    display: -webkit-inline-box;
    margin-left: 19%;
    margin-top: 2em;

    .logo{
      font-size: 2.5em;
    }
    .sublogo{
      margin-left: 10px;
      margin-top: 1.3em;
    }
  }

  ul {
    @extend %plainlist;
    float: right;

    li {
      float: left;
      padding: 16px 15px;
    }
    li, a {
      display: block;
      height: 40px;
      line-height: 4.7em;
      margin: 0;
      text-decoration: none;
      color: $nav-text-color;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
